html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  width: 25%;
  padding: 10px;
  margin: 8px 5px;
  border: 2px solid #ccc;
  border-radius: 5%;
  background-color: #bce2c5;
}
input:focus {
  background-color: #63e467;
  transition: background-color 1s ease-in;
}
button {
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 50px;
  background-color: #8fab90;
  color: white;
  font-size: 18px;
  line-height: 12px;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #4caf50;
}
body {
  background-color: #2a78c2;
  font-family: Arial, sans-serif;
}
.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  border: 3px solid #000000;
  border-radius: 20px;
}
h1{
    font-size: 30px;
    font-weight: 800;
    margin: 2% 0;
}